In [1]:
import pandas as pd

In [25]:
df_raw = pd.read_csv('../../data/raw_data/시군구별_보행자_교통사고.csv', header=None, index_col=None)

In [26]:
df_raw

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,시도,시군구,2020,NaN,NaN,NaN,NaN,NaN,2021,NaN,...,NaN,NaN,NaN,NaN,2024,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,사고[건],사망[명],부상[명],(중상자[명]),(경상자[명]),(부상신고자[명]),사고[건],사망[명],...,부상[명],(중상자[명]),(경상자[명]),(부상신고자[명]),사고[건],사망[명],부상[명],(중상자[명]),(경상자[명]),(부상신고자[명])
2,서울,종로구,226,2,234,85,127,22,179,4,...,265,85,169,11,227,4,233,78,135,20
3,NaN,중구,246,1,254,113,125,16,171,2,...,218,76,121,21,241,15,245,83,138,24
4,NaN,용산구,159,6,158,59,95,4,176,2,...,218,72,139,7,174,2,180,63,114,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,NaN,거창군,29,3,26,19,7,0,43,1,...,40,30,9,1,36,1,38,23,14,1
228,NaN,합천군,31,2,29,15,11,3,27,1,...,32,20,10,2,24,0,28,12,10,6
229,NaN,창원시(통합),664,25,663,307,328,28,601,27,...,691,290,330,71,654,18,660,269,305,86
230,제주,제주시,546,17,556,183,343,30,542,13,...,550,189,323,38,610,15,609,192,373,44
231,NaN,서귀포시,175,13,171,86,77,8,193,7,...,186,86,84,16,194,11,191,76,102,13

In [27]:
df_raw[0] = df_raw[0].fillna(method='ffill')

C:\Users\minseo\AppData\Local\Temp\ipykernel_23432\2932597429.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_raw[0] = df_raw[0].fillna(method='ffill')

In [28]:
df_raw

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,시도,시군구,2020,NaN,NaN,NaN,NaN,NaN,2021,NaN,...,NaN,NaN,NaN,NaN,2024,NaN,NaN,NaN,NaN,NaN
1,시도,NaN,사고[건],사망[명],부상[명],(중상자[명]),(경상자[명]),(부상신고자[명]),사고[건],사망[명],...,부상[명],(중상자[명]),(경상자[명]),(부상신고자[명]),사고[건],사망[명],부상[명],(중상자[명]),(경상자[명]),(부상신고자[명])
2,서울,종로구,226,2,234,85,127,22,179,4,...,265,85,169,11,227,4,233,78,135,20
3,서울,중구,246,1,254,113,125,16,171,2,...,218,76,121,21,241,15,245,83,138,24
4,서울,용산구,159,6,158,59,95,4,176,2,...,218,72,139,7,174,2,180,63,114,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,경남,거창군,29,3,26,19,7,0,43,1,...,40,30,9,1,36,1,38,23,14,1
228,경남,합천군,31,2,29,15,11,3,27,1,...,32,20,10,2,24,0,28,12,10,6
229,경남,창원시(통합),664,25,663,307,328,28,601,27,...,691,290,330,71,654,18,660,269,305,86
230,제주,제주시,546,17,556,183,343,30,542,13,...,550,189,323,38,610,15,609,192,373,44
231,제주,서귀포시,175,13,171,86,77,8,193,7,...,186,86,84,16,194,11,191,76,102,13

In [29]:
df_raw.loc[1, 1] = df_raw.loc[0, 1]

In [30]:
df_raw

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,시도,시군구,2020,NaN,NaN,NaN,NaN,NaN,2021,NaN,...,NaN,NaN,NaN,NaN,2024,NaN,NaN,NaN,NaN,NaN
1,시도,시군구,사고[건],사망[명],부상[명],(중상자[명]),(경상자[명]),(부상신고자[명]),사고[건],사망[명],...,부상[명],(중상자[명]),(경상자[명]),(부상신고자[명]),사고[건],사망[명],부상[명],(중상자[명]),(경상자[명]),(부상신고자[명])
2,서울,종로구,226,2,234,85,127,22,179,4,...,265,85,169,11,227,4,233,78,135,20
3,서울,중구,246,1,254,113,125,16,171,2,...,218,76,121,21,241,15,245,83,138,24
4,서울,용산구,159,6,158,59,95,4,176,2,...,218,72,139,7,174,2,180,63,114,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,경남,거창군,29,3,26,19,7,0,43,1,...,40,30,9,1,36,1,38,23,14,1
228,경남,합천군,31,2,29,15,11,3,27,1,...,32,20,10,2,24,0,28,12,10,6
229,경남,창원시(통합),664,25,663,307,328,28,601,27,...,691,290,330,71,654,18,660,269,305,86
230,제주,제주시,546,17,556,183,343,30,542,13,...,550,189,323,38,610,15,609,192,373,44
231,제주,서귀포시,175,13,171,86,77,8,193,7,...,186,86,84,16,194,11,191,76,102,13

In [31]:
pd.concat([df_raw.iloc[:, :2], df_raw.iloc[:, 2:8]], axis = 1)

      0        1      2      3      4         5         6           7
0    시도      시군구   2020    NaN    NaN       NaN       NaN         NaN
1    시도      시군구  사고[건]  사망[명]  부상[명]  (중상자[명])  (경상자[명])  (부상신고자[명])
2    서울      종로구    226      2    234        85       127          22
3    서울       중구    246      1    254       113       125          16
4    서울      용산구    159      6    158        59        95           4
..   ..      ...    ...    ...    ...       ...       ...         ...
227  경남      거창군     29      3     26        19         7           0
228  경남      합천군     31      2     29        15        11           3
229  경남  창원시(통합)    664     25    663       307       328          28
230  제주      제주시    546     17    556       183       343          30
231  제주     서귀포시    175     13    171        86        77           8

[232 rows x 8 columns]

In [32]:
dfs = [
    pd.concat([df_raw.iloc[:, :2], df_raw.iloc[:, 2:8]], axis = 1), 
    pd.concat([df_raw.iloc[:, :2], df_raw.iloc[:, 8:14]], axis = 1), 
    pd.concat([df_raw.iloc[:, :2], df_raw.iloc[:, 14:20]], axis = 1), 
    pd.concat([df_raw.iloc[:, :2], df_raw.iloc[:, 20:26]], axis = 1), 
    pd.concat([df_raw.iloc[:, :2], df_raw.iloc[:, 26:32]], axis = 1)
]

In [33]:
i=0
for one_df in dfs:
    year = one_df.iloc[0, 2]
    one_df.drop([0], inplace=True)
    one_df.columns = one_df.iloc[0]
    one_df.drop([1], inplace=True)
    one_df.reset_index(drop=True, inplace=True)
    one_df['연도'] = year
    dfs[i] = one_df.reindex(columns=(['연도'] + [col for col in one_df.columns if col != '연도']), )
    i+=1
    
dfs[0]

1      연도  시도      시군구 사고[건] 사망[명] 부상[명] (중상자[명]) (경상자[명]) (부상신고자[명])
0    2020  서울      종로구   226     2   234       85      127         22
1    2020  서울       중구   246     1   254      113      125         16
2    2020  서울      용산구   159     6   158       59       95          4
3    2020  서울      성동구   244     5   248       78      151         19
4    2020  서울     동대문구   331     5   336      141      178         17
..    ...  ..      ...   ...   ...   ...      ...      ...        ...
225  2020  경남      거창군    29     3    26       19        7          0
226  2020  경남      합천군    31     2    29       15       11          3
227  2020  경남  창원시(통합)   664    25   663      307      328         28
228  2020  제주      제주시   546    17   556      183      343         30
229  2020  제주     서귀포시   175    13   171       86       77          8

[230 rows x 9 columns]

In [44]:
df_result = pd.concat(dfs, axis=0, ignore_index=True)

In [45]:
df_result

1       연도  시도      시군구 사고[건] 사망[명] 부상[명] (중상자[명]) (경상자[명]) (부상신고자[명])
0     2020  서울      종로구   226     2   234       85      127         22
1     2020  서울       중구   246     1   254      113      125         16
2     2020  서울      용산구   159     6   158       59       95          4
3     2020  서울      성동구   244     5   248       78      151         19
4     2020  서울     동대문구   331     5   336      141      178         17
...    ...  ..      ...   ...   ...   ...      ...      ...        ...
1145  2024  경남      거창군    36     1    38       23       14          1
1146  2024  경남      합천군    24     0    28       12       10          6
1147  2024  경남  창원시(통합)   654    18   660      269      305         86
1148  2024  제주      제주시   610    15   609      192      373         44
1149  2024  제주     서귀포시   194    11   191       76      102         13

[1150 rows x 9 columns]

In [46]:
df_result.rename(columns={'(중상자[명])': '중상자[명]'}, inplace=True)
df_result.rename(columns={'(경상자[명])': '경상자[명]'}, inplace=True)
df_result.rename(columns={'(부상신고자[명])': '부상신고자[명]'}, inplace=True)
df_result

1       연도  시도      시군구 사고[건] 사망[명] 부상[명] 중상자[명] 경상자[명] 부상신고자[명]
0     2020  서울      종로구   226     2   234     85    127       22
1     2020  서울       중구   246     1   254    113    125       16
2     2020  서울      용산구   159     6   158     59     95        4
3     2020  서울      성동구   244     5   248     78    151       19
4     2020  서울     동대문구   331     5   336    141    178       17
...    ...  ..      ...   ...   ...   ...    ...    ...      ...
1145  2024  경남      거창군    36     1    38     23     14        1
1146  2024  경남      합천군    24     0    28     12     10        6
1147  2024  경남  창원시(통합)   654    18   660    269    305       86
1148  2024  제주      제주시   610    15   609    192    373       44
1149  2024  제주     서귀포시   194    11   191     76    102       13

[1150 rows x 9 columns]

In [47]:
df_result['시도'] = df_result['시도'].str.replace(' ', '')
df_result['시군구'] = df_result['시군구'].str.replace(' ', '')

In [48]:
df_result

1       연도  시도      시군구 사고[건] 사망[명] 부상[명] 중상자[명] 경상자[명] 부상신고자[명]
0     2020  서울      종로구   226     2   234     85    127       22
1     2020  서울       중구   246     1   254    113    125       16
2     2020  서울      용산구   159     6   158     59     95        4
3     2020  서울      성동구   244     5   248     78    151       19
4     2020  서울     동대문구   331     5   336    141    178       17
...    ...  ..      ...   ...   ...   ...    ...    ...      ...
1145  2024  경남      거창군    36     1    38     23     14        1
1146  2024  경남      합천군    24     0    28     12     10        6
1147  2024  경남  창원시(통합)   654    18   660    269    305       86
1148  2024  제주      제주시   610    15   609    192    373       44
1149  2024  제주     서귀포시   194    11   191     76    102       13

[1150 rows x 9 columns]

In [49]:
df_result.to_csv('../../data/preprocessed_data/시군구별_전체_보행자_교통사고_전처리ver.csv', index=False)